<div class="hero-animation">
  <dir>
    animation Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
    mollitia rerum, velit possimus cumque unde quibusdam voluptates, iusto
    obcaecati architecto suscipit nam neque est id, optio laboriosam earum ea
    non!
  </dir>
</div>

<style>
  .hero-animation {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    border: 1px solid green;
  }
</style>
