---
import Slider from "../components/Slider.astro";
import { COLORS } from "../utils/UI_CONST";
const { blue, white, gray, black } = COLORS;
---

<section id="home" class="home">
  <div class="wrapper">
    <div class="description">
      <span class="descrip__text-1">Hi, my name is</span>
      <h1 class="descrip__text-2">Anderson Rivera</h1>
      <h2 class="descrip__text-3">I'm a full-stack developer</h2>
      <span class="descrip__text-4">
        Passionate about technology and specialized in front-end development, I
        build solutions that help people achieve their goals.
      </span>
      <a href="#about" class="descrip__link">Let's start</a>
    </div>
    <Slider />
  </div>
</section>

<style define:vars={{ blue, white, gray, black }}>
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
    padding: 0 100px;
  }

  .wrapper {
    display: flex;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
  }

  .descrip__text-1 {
    color: var(--blue);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  .descrip__text-2 {
    font-size: 80px;
    color: var(--white);
  }

  .descrip__text-3 {
    font-size: 40px;
    color: var(--gray);
  }

  .descrip__text-4 {
    line-height: 28px;
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 20px;
  }

  .descrip__link {
    display: block;
    width: max-content;
    text-decoration: none;
    border: 2px solid var(--blue);
    color: var(--white);
    font-size: 16px;
    padding: 17px;
    border-radius: 5px;
  }
</style>
