---
import { COLORS } from "../../utils/UI_CONST";
const { white } = COLORS;
---

<section id="experience" class="experience">
  <div class="exp-description">
    <h1>some of my projects</h1>
  </div>

  <div class="exp-projects">
    <div class="exp-project__1">
      <h1>snimation over here!</h1>
    </div>

    <div class="exp-project__2">
      <h1>snimation over here!</h1>
    </div>
  </div>
</section>

<style define:vars={{ white }}>
  .experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 60px 100px;
  }

  .exp-description {
    color: var(--white);
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .exp-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .exp-project__1,
  .exp-project__2 {
    width: 100%;
    height: 290px;
    background-size: cover;
    background-image: url("https://t3.ftcdn.net/jpg/04/46/11/48/360_F_446114886_GjCFG3JoSN26d08f1lvMmMxVHrMjqeVs.jpg");
  }
</style>
